{% extends 'base.html' %}

{% block title %}全予約一覧{% endblock %}

{% block content %}
<h1>全予約一覧</h1>

{% if reservations %}
    <table border="1" style="width: 80%;">
        <thead>
            <tr>
                <th>予約番号</th>
                <th>代表者名</th>
                <th>電話番号</th>
                <th>予約日時</th>
                <th>終了時間</th>
                <th>予約席数</th>
                <th>事前注文</th>
                <th>イートイン/テイクアウト</th>
                <th>備考</th>
                <th>アクション</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.customer_name }}</td>
                    <td>{{ reservation.phone_number }}</td>
                    <td>{{ reservation.start|date:"Y-m-d H:i" }}</td>
                    <td>{{ reservation.end|date:"H:i" }}</td>
                    <td>{{ reservation.seat_count }}</td>
                    <td>{{ reservation.get_is_preorder_display }}</td>
                    <td>{{ reservation.get_is_eatin_display }}</td>
                    <td>{{ reservation.remark }}</td>
                    <td>
                        <a href="{% url 'reservation_detail' pk=reservation.pk %}">詳細</a> 
                        <a href="{% url 'reservation_edit' pk=reservation.pk %}">編集</a> 
                        <a href="{% url 'reservation_delete' pk=reservation.pk %}">削除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>今日以降の予約はありません。</p>
{% endif %}
<br>
<a href="{% url 'menu_shop' %}">メニュー画面に戻る</a>
{% endblock %}
