{% extends 'base.html' %}

{% block title %}店舗側 全予約一覧{% endblock %}

{% block content %}
<h1>店舗側 全予約一覧</h1>

{% if reservations %}
    <table border="1" style="width: 80%;">
        <thead>
            <tr>
                <th>予約番号</th>
                <th>代表者名</th>
                <th>電話番号</th>
                <th>予約日時</th>
                <th>終了時間</th>
                <th>予約席数</th>
                <th>事前注文</th>
                <th>イートイン/テイクアウト</th>
                <th>備考</th>
                <th>アクション</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.customer_name }}</td>
                    <td>{{ reservation.phone_number }}</td>
                    <td>{{ reservation.start|date:"Y-m-d H:i" }}</td>
                    <td>{{ reservation.end|date:"H:i" }}</td>
                    <td>{{ reservation.seat_count }}</td>
                    <td>{{ reservation.get_is_preorder_display }}</td>
                    <td>{{ reservation.get_is_eatin_display }}</td>
                    <td>{{ reservation.remark }}</td>
                    <td>
                        <a href="{% url 'menu_shop_detail' pk=reservation.pk %}">詳細</a> 
                        <a href="{% url 'menu_shop_edit' pk=reservation.pk %}">編集</a> 
                        <a href="{% url 'menu_shop_delete' pk=reservation.pk %}">キャンセル</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>今日以降の予約はありません。</p>
{% endif %}
<br>
{#ページの表示#}
{{ page_obj.number }} / {{page_obj.paginator.num_pages}} ページ <br>
{# 前へ #}
{% if page_obj.has_previous %}
<a href="?page=1">&laquo; 先頭</a>
<a href="?page={{ page_obj.previous_page_number }}">前へ</a>
{% endif %}

{# 次へ #}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}">次へ</a>
<a href="?page={{ page_obj.paginator.num_pages}}">最後 &raquo;</a>
{% endif %}
<br>
<a href="{% url 'menu_shop' %}">店舗用 メニュー画面に戻る</a>
{% endblock %}
