{% extends 'base.html' %}

{% block title %}ご予約編集{% endblock %}

{% block content %}
<h1>ご予約変更</h1>
<form method="post">
    {% csrf_token %}
<table>
    <tbody>
        <!-- フィールドごとのエラー表示 -->
        {% for field in form %}
            <tr>
                <th style="font-weight: normal; font-size: 1rem; text-align: left;">{{ field.label_tag }}</th>
                <td>
                    {{ field }}
                    {% if field.errors %}
                        <div style="color: red;">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    <button type="submit">保存</button>
</form>
<br>
<a href="{% url 'menu_shop_list' %}">店舗側 全予約一覧に戻る</a>

{% endblock %}
